@font-face {
  font-family:"zz" ;
  src:url('./Summer\ Calling.ttf')
} 

.cntr{
  display: grid;
  justify-content: center;
}

.searchbox{
  background-color: black;
  color: white;
  text-align: center;
 margin: 0 4rem;
 font-family: cursive;
 margin-top: 3rem;
 margin-bottom: 6rem;
 
 
  font-size: 1.5rem;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  outline: none;
  border-bottom-style: groove;
}
body{
  background-color: black;
}
.blue{
  height:100%;
  width: 100%;
  background-color: blue;
}
.tiles{
border-radius: 20px;

}
.heading{
  color: white;
  text-align: center;
  font-family: "zz";
  margin: 0 1rem;
  
}
 
 


.footer{
  color: white;
  text-align: center;
  color: coral;
}

